.tweets_index {
  font-size: 2rem;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
      "header header header header header" 150px
      "...... ...... ...... ...... ......" 10px
      "left   ...... center ...... right " 3fr
      "...... ...... ...... ...... ......" 10px
      "footer footer footer footer footer" 100px
      /200px  10px   1fr    10px   250px ;
}
header {
  grid-area: header;
  display: flex;
  background-color: cyan;
}
main {
  grid-area: center;
  
}
nav {
  grid-area: left;
}
aside {
  grid-area: right;
}
footer {
  grid-area: footer;
  background-color: cyan;
}

.title{
  flex: 3;
}

.login{
  flex: 1;
}

/* .nav1{
  flex: 1;
}

.nav2{
  flex: 3;
  justify-content: space-between;
} */