<div class="tweets_index">

        <header>
          <div class="title">タイトル</div>
          <div class="login">新規登録</div>
        </header>

        <nav>
        <div class ="nav1">
        <div>新規投稿</div>
        <div>検索ボックス</div>
        <div class = "btn">検索</div>
        </div>
        <div class ="nav2">
        <ul>
        <li>カテゴリ１</li>
        <li>カテゴリ２</li>
        <li>カテゴリ３</li>
        <li>カテゴリ３</li>
        <li>カテゴリ４</li>
        <li>カテゴリ５</li>
        </ul>
        </div>
        </nav>
        <main>記事一覧</main>
        <aside>ランキング</aside>
        <footer>footer</footer>
</div>