<div class="tweets_index">

        <header>
          <div class="title">タイトル</div>
          <div class="login">
          <ul class='lists-right'>
              <% if user_signed_in? %>
              <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "logout" %></li>
              <% else %>
              <li><%= link_to 'ログイン', new_user_session_path , class: "login" %></li>
              <li><%= link_to '新規登録', new_user_path , class: "sign-up" %></li>
              <% end%>
          </ul>
          </div>
        </header>
        <nav>
        <div class ="nav1">
        <div>新規投稿</div>
        <div>検索ボックス</div>
        <div class = "btn">検索</div>
        </div>
        <div class ="nav2">
        <ul>
        <li>カテゴリ１</li>
        <li>カテゴリ２</li>
        <li>カテゴリ３</li>
        <li>カテゴリ３</li>
        <li>カテゴリ４</li>
        <li>カテゴリ５</li>
        </ul>
        </div>
        </nav>
        <main>記事一覧</main>
        <aside>ランキング</aside>
        <footer>footer</footer>
</div>